In [23]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler

In [24]:
dataset=pd.read_csv('./insurance.csv')
dataset.head()  #print first 5 rows of dataset

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [25]:
#replacing string values with numbers
#ENCODING SEX  and smoker COLUMN as 0 or 1
#male:0 and female:1 and smoker:1 and non-smoker:0
mapping={'sex':{'male':0,'female' :1,'yes':1,'no':0},
         'smoker':{'yes':1,'no':0},
         'region':{'southwest':0,'southeast':1,'northwest':2,'northeast':3}}
dataset1=dataset.assign(**{col: lambda x: x[col].map(mapping[col]) for col in mapping})
#using assign function

#dataset.replace({'sex':{'male':0,'female':1}},inplace=True) deprecated
#dataset.replace({'smoker':{'no':0,'yes':1}},inplace=True) deprecated

#regions aswell encoding
#dataset.replace({'region':{'southwest':0,'southeast':1,'northwest':2,'northeast':3}},inplace=True) deprecated

dataset1.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       0       0  16884.92400
1   18    1  33.770         1       1       1   1725.55230
2   28    1  33.000         3       1       1   4449.46200
3   33    2  22.705         0       2       2  21984.47061
4   32    2  28.880         0       2       2   3866.85520

In [26]:
scaler=StandardScaler()
x=dataset1.drop(['charges'],axis=1)
y=dataset1['charges']

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x_norm=scaler.fit_transform(X_train)#feature scaling

In [27]:
sgdr=SGDRegressor(max_iter=1000,learning_rate='invscaling')
sgdr.fit(x_norm,y_train)
print(sgdr)

SGDRegressor()

In [28]:
b_norm=sgdr.intercept_
w_norm=sgdr.coef_
print('Intercept:',b_norm.round(2))
print('Coefficients:',w_norm.round(2))

Intercept: [13189.64]
Coefficients: [3081.51  203.57 1829.49  844.81  203.57  203.57]

In [29]:
#predicting the values

y_pred=sgdr.predict(x_norm)

print(f'prediction on test data: {y_pred[:2].round(2)}')
print(f'actual values: {y_test[:2].values}')

prediction on test data: [14969.43  8668.44]
actual values: [9724.53   8547.6913]

In [30]:
from sklearn.metrics import r2_score

r2 = r2_score(y_train, y_pred)
print("R-squared:", r2)

R-squared: 0.10881790071108455